 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.text-color{
		color: red;
	}
	.custom-blockquote-footer {
		display: block;
  		font-size: 80%;
	  	color: red;
	}
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
	.text-color{
		color: green;
	}
	.custom-blockquote-footer {
		display: block;
  		font-size: 80%;
	  	color: green;
	}
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
	.text-color{
		color: blue;
	}
	.custom-blockquote-footer {
		display: block;
  		font-size: 80%;
	  	color: blue;
	}
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.text-color{
		color: purple;
	}
	.custom-blockquote-footer {
		display: block;
  		font-size: 80%;
	  	color: purple;
	}
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.text-color{
		color: gray;
	}
	.custom-blockquote-footer {
		display: block;
  		font-size: 80%;
	  	color: gray;
	}
 }